venv/
.vscode/
.idea/
__pycache__/
build/
Three_Part_Moudule/Requests/.ipynb_checkpoints/
c_cpp_with_python/c_extensions/cmake-build-debug/CMakeFiles/3.14.5/CompilerIdC/tmp/
c_cpp_with_python/c_extensions/cmake-build-debug/CMakeFiles/CMakeTmp/
c_cpp_with_python/c_extensions/cmake-build-debug/CMakeFiles/c_extensions.dir/src/spammoudle.c.o
c_cpp_with_python/use_cython/cmake-build-debug/
